@import url('../../app/globals.css');

.header {
    max-width: 100vw;
    min-height: 10vh;

    display: flex;
    justify-content:  space-between;
    align-items: center;

    background-color: var(--background);
    color: var(--ocean);
}
.logo{
    margin: 5px 20px;
}

.liens{
    padding: 2rem;
}
.links{
    text-decoration: none;
    color: var(--texte);
    font-size: 1.3rem;
}
.links:hover{
    text-decoration: none;
    color: var(--ocean);
}
.title{
    display: flex;
    align-items: center;
}