@import url('../../app/globals.css');

.filterBox{
position:absolute;

bottom:20px;
left:20px;

background:white;

padding:10px 12px;
border-radius:6px;

font-size:12px;

display:flex;
flex-direction:column;
gap:4px;

box-shadow:0 3px 8px rgba(0,0,0,0.2);
}


/* yasmine: mobile -> filtre en bas centré */

@media (max-width:600px){

.filterBox{

bottom:-210px;
left:50%;
transform:translateX(-50%);

font-size:14px;
padding:12px 14px;

}

}