:root {
  --background: #d8d2e6;
  --ocean:#0171C7;
  --Nation : #71D1D2;
  --NationHover: #6336CC;
  --texte: #0c071a;
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: #d8d2e6;
  --ocean:#0171C7;
  --Nation : #7C9885;
  --NationHover: #6336CC;
  --texte: #0c071a;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background: var(--ocean);
  color: var(--Nation);
}

.mapContainer{
position:relative;
display:flex;
justify-content:center;
align-items:center;

}

.main-content {
  position: relative;
}