:root {
  --background: #FFF3F3;
  --foreground: #171717;
  --NationHover: rgb(0, 123, 255);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
