.worldMap {
  width: 100%;
  height: 100%;
}

.Nation {
  fill: #9bb4a6;
  transition: fill .2s;
}

.Nation:hover {
  fill: var(--NationHover);
  cursor: pointer;
}

.Nation.active {
   fill: var(--NationHover) !important;
}

.Nation.continentActive{
  fill: var(--NationHover);
}

.Nation.active{
 fill: var(--NationHover);
}
.dietActive{
     fill: var(--NationHover);
}